/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');
body p{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
}
body h1,h2,h3{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;

}
/* Navbar*/


nav {
    margin-top: 40px;
    height: 20px;
    line-height: 105px;
    background-color: e0ebf3;
}

nav ul a {
    color: #000000;
    font-size: 24px !important;
    font-weight: bold !important;
    margin-left: 15px;
}

.nav-wrapper img {
    width: 310px;
    height: 85px;

}



.btn:hover {
    opacity: 1;
    background-color: #010D26;
}

/* Banner */

#banner {
    margin-top: 35px;
    background-image: url("../images/BANNER\ SITE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

#banner2 {
    margin-top: 35px;
    background-image: url("../images/BANNER\ SITE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#banner3 {
    margin-top: 35px;
    background-image: url("../images/BANNER\ SITE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

#banner4 {
    margin-top: 35px;
    background-image: url("../images/BANNER\ SITE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

#banner p,
h2 {
    font-weight: bold;
}

#banner p {
    font-size: 16px;
}

/*fim banner*/

/*Imagem de fundo*/
#fundoForm {
    /* margin-top: 10px; */
    background-image: url("../images/img fundoazul.jpg");
    background-image: url("../images/img FundoForm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 1000px;
}

#fundoAzul1 {
    /* margin-top: 35px; */
    background-image: url("../images/img fundoazul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

#pfundo {
    margin-top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

#fundoAzul {
    /* margin-top: 35px; */
    background-image: url("../images/img fundoazul.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800.9px;
}

/*fim imagem de fundo*/

/* Card de imagens */
.grid-1 {
    margin-top: 150px;
    margin-bottom: 0 auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 30px;
    border-color: #000000;

}

.grid-1 div {
    width: 240px;
    height: 260px;
    border-radius: 12px;
}

.col1,
.col2,
.col3,
.col4 {
    background-size: cover;
}

.col1 {
    background-image: url("https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80")
}

.col2 {
    background-image: url("https://images.unsplash.com/photo-1575517111478-7f6afd0973db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGhvdXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
}

.col3 {
    background-image: url("https://images.unsplash.com/photo-1513584684374-8bab748fbf90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvdXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
}

.col4 {
    background-image: url("https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGhvdXNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
}


.card-body {
    position: relative;
    margin-top: 200px;
    box-sizing: border-box;
    width: 490px;
    height: 600px;
    justify-content: center;
    justify-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

#button-form {
    margin-top: 120px;
    width: 360px;
    text-align: center;
    height: 45.23px;
    background: linear-gradient(0deg, rgba(18, 60, 115, 0.06), rgba(18, 60, 115, 0.06)), #22D829;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1px;
    color: #FFFFFF;
    font-weight: bold;
}

#button-form:hover {
    opacity: 0.6;
    color: #000000;
}

.registration-form h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: #020202;
}

/* .registration-form b {
    height: 64.33px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #434346;
} */

card {
    box-sizing: border-box;
    position: absolute;
    width: 492px;
    height: 835px;
    justify-content: center;
    justify-items: center;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.card img {
    position: absolute;
    width: 68px;
    height: 68px;
}

.registration-form {
    padding: 50px 0;
    width: 100%;
}

.registration-form form {
    position: center;
    background-color: white;
    width: 492px;
    height: 835px;
    margin: auto;
    padding: 50px 70px;
    margin-top: 200px;
    box-sizing: border-box;
    border: 10px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 0 0 20px 8px #d0d0d0; */
}


.registration-form .form-icon {
    text-align: center;
    background-color: #123C73;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

#registration-form h3 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
}

#registration-form h1 {
    position: absolute;
    width: 187px;
    height: 38.8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

.registration-form .create-account {
    width: 370px;
    height: 45.23px;
    background: linear-gradient(0deg, rgba(18, 60, 115, 0.06), rgba(18, 60, 115, 0.06)), #123C73;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1px;
}

.registration-form .social-media {
    width: 492px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 35px 0;
    text-align: center;
    color: #9fadca;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.registration-form .social-icons {
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: white;
    line-height: 45px;
}

.registration-form .social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form {
        padding: 50px 20px;
    }

    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }

}

.registration-form map {
    width: 50px;
    height: 200px;
    background-color: grey;

}

.card-form form {
    background-image: url("../images/img banner.jpg");
    justify-content: center;
    justify-items: center;
    position: center;
    width: 350px;
    height: 418.58px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 200px;
    padding: 50px 70px;
    box-sizing: border-box;
    border: 10px solid #FFFFFF;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 0 0 20px 8px #d0d0d0; */
}

/* .card-form h3{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    color: black;
} */
.card-form img {
    position: absolute;
    /* width: 68px;
    height: 68px; */
    width: 60px;
    height: 60px;
}

.card-form h1 {
    position: center;
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;


    font-size: 36px;
    line-height: 44px;
}

.card-form p {
    margin-top: 13%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 45px;
    text-align: center;
    color: black;
}

/*Fim card de contato/Localidade*/

/*Footer*/
.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #010D26;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {

    .footer-dark{
        max-width: 767px !important;
    }

    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 55px;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


/* Slides */

.slideshow-container img {
    vertical-align: middle;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.slideshow-container {
    margin: 0px 0px 0px 0px;
}

.dotcentro {
    text-align: center;
    transform: translate(755px, 0px);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(13, 11, 11);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    transform: translate(-50%, -155%);
}

.active,
.dot:hover {
    background-color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

#row-home {
    margin-top: 180px;
    margin-bottom: 60px;

}

#row-home div {

    margin: 30px;
    justify-content: center;
    justify-items: center;
    color: #000;
    height: auto;
    width: 25%;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
}

.container-cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90% !important;
    margin-top: 10px !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
}

#card-container-nome {
    flex: 5;
    width: 100%;
    padding: 0;
    margin-left: 20 !important;
}

#card-container-nome h2 {
    font-size: 1.7rem;
    font-weight: bold;
    width: 250px;
    margin-top: 0px !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 20 !important;
}

#card-container-imagem {
    flex: 1;
    width: 100%;
}

#card-container-imagem img {
    width: 150px;
    height: 150px;
}

.container-card-test {
    max-width: 500px !important;
    min-height: 500px !important;
}

.container-card-test p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 25px;
    padding: 10px;
}

.card-aspas {
    position: absolute;
    left: 1px;
    top: -135px;
    width: 180px;
    transform: rotate(180deg);
}


/* Nossa Proposta */
.proposta {
    justify-content: center;
    margin-top: -220px !important;
    height: 14s00px;
}

#prop1 {
    background-color: #123C73;
    padding: 220px;
    width: 100vw;
}

#prop2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/casa.png);
    padding: 220px;
    width: 100vw;
}


#card-prop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -720px;
    width: 100vw;
}

#card-prop div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    justify-content: center;
    justify-items: center;
    color: #010D26;
    max-height: 180px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
}
@media(min-width:600px){
#carouselmobile{
    display: none;
}
#nav-mobile{
    display: none;
}
}

@media (max-width:600px) {


    #nav-container{
        display: none !important;
    }

    #nav-mobile{
        margin-top: 0;
        height: 120px !important;
        background-color: rgba(255, 255, 255, 0.9) !important;  
    }

   
    #nav-mobile a{
        margin-bottom: 0;
        
        
    }
  
    .offcanvas {
        height: 100vh;
        width: 65% !important;
    }

    .offcanvas-header{
        margin: 10px;
    }

    .nav-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-link{
        height: 100px!important;
        text-align: center!important;
        margin-left: 0;
    }

    .offcanvas-body li{
        font-weight: bold;
        font-size: 24px;
        margin-left: 30px !important;
        width: 240px;
        height: 80px;
        margin: 10px;
        text-align: center;
        background-color: #123C73;
        border-radius: 12px 0 12px 0;
    }

    .custom-toggler{
        border-color: #123C73 !important;
        background-color: #123C73 !important;
        
        
    }
    
    
   #carouselmobile{
    position: absolute;
    background-color: none;
    left: calc(50% - (412px/2));
    padding: 0 !important;
    margin: 30px;
   }

   #active{
    background: rgba(0, 0, 0, 0);
   }

   #itemcarousel{
    padding: 0;
    background: rgba(0, 0, 0, 0);
   }
   .grid-1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 240px;
   }

   .grid-1 div{

    width: 180px;
    height: 180px;

   }

    .container-cards1 {
        display: flex;
        align-items: center !important;
        justify-content: center;
        flex-direction: column;
        width: 100% !important;
        margin-top: 10px !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
    }

    #card-container-nome1 { 
        width: 100%;
        padding: 0;
        margin: 0 !important;
        text-align: center !important;
    }

    #card-container-nome1 h2 {
    
        font-size: 1rem;
        font-weight: bold;
        margin-top: 50px !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
       
    }

    #card-container-imagem1 {
        flex: 1;
        width: 100%;
    }

    #card-container-imagem1 img {
        width: 80px;
        height: 80px;
    }

    #card-prop1 {
        display: none;
    }
    #prop1 {
        background-color: #123C73;
        padding: 120px;
        width: 100vw;
        margin: 0!important;
    }

    #prop2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/casa.png);
        padding: 120px;
        width: 100vw;
        margin: 0!important;
    }

    .container-card-test1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        justify-content: center;
        justify-items: center;
        color: #010D26;
        height: 330px!important;
        max-width: 250px!important;
        border-radius: 12px;
        text-align: center;
        background-color: #fff
    }

    
    .container-cards1{
        width: 100px;
        max-height: 230px!important;
    }
    
    .container-card-test {
        display: none !important;
    }
    
    .carousel-inner{
        margin-top: 0 auto !important;
    }
    #inner1{
        width: 350px;
        margin-top: 0 auto !important;
    }
    #inner{
        margin-top: 60px !important;

    }
    #banner {
        margin-top: 75px;
        background-image: url("../images/BANNER\ SITE.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 215px;
        width: 99vw;
    
    }
    
    #banner2 {
        margin-top: 75px;
        background-image: url("../images/BANNER\ SITE.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 215px;
        width: 99vw;
    }
    
    #banner3 {
        margin-top: 75px;
        background-image: url("../images/BANNER\ SITE.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 215px;
        width: 99vw;
    
    }
    
    #banner4 {
        margin-top: 75px;
        background-image: url("../images/BANNER\ SITE.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 215px;
        width: 99vw;
    
    }


    .navbar-brand{
        align-items: center !important;
        margin: 0 !important;
    }

    #nav-container{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        align-items: center;
        width: 280px;
        height: 140px;;
    }
    #nav-container a{
        margin-left: 0 auto;
    }

    .registration-form form{
        text-align: center;
        width: 85%;
        height: 670px;
        margin: 0 auto;
    }

    .registration-form h3{
        margin: auto;
        font-size: 24px;
        line-height: 1.2;
        padding: 10px 0;

    }

    #fundoAzul1{
        height: 125px;
    }

    #pfundo{
        margin: auto;

    }

    #fundoAzul {
        /* margin-top: 35px; */
        background-image: url("../images/img fundoazul.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 520.9px;
    }
    #button-form{
        margin-top: 30px;
        max-width: 100%;

    }

    .registration-form .form-icon {
        text-align: center;
        background-color: #123C73;
        border-radius: 50%;
        font-size: 55px;
        color: white;
        width: 120px;
        height: 120px;
        margin-top: -40px !important;
        padding-top: 10px;
        margin-bottom: 10px;
        line-height: 100px;
    }

    .map iframe {
        margin-top: 30px;
        max-width: 230px;
        max-height: 250px !important;
        background-color: grey;
    
    }
    
    /* Oque Fazemos?*/
    #rowMaster{
        max-height: 350px!important;
        margin-top: 80px !important;
    }

    #rowMaster img{
        position: relative;
        max-width: 121px;
        height: 180px;
        margin-left: 50px !important;
        margin-bottom: 10px !important;

        
    }

    h1{
        font-size: 24px !important;
        
       
        
    }
    #rowMaster p{
        font-size: 12px !important;
        text-align: center;
        text-shadow: 1px 1px 4px rgba(0, 0, 0,0.5);
        letter-spacing: 1px;
        max-width: 220px;
        max-height: 220px ;
        margin: 0 !important;
        color: #fff !important;
        padding: 20px;
        padding-top: 25px;
        background-color: #123C73;
        border-radius: 20%;
        box-shadow: rgba(0, 0, 0, 1) 0px 25px 20px -20px;
    }



}



 


/* Sobre */

@media (max-width:600px) {
    #row1{
        width: 100%;  
        margin-top: 180px;
    }

    #row1 div{
        width: 120px !important;
        height: 140px !important;
        margin: 10px !important;
    }
    #row1 img{
        margin-top: 0;
        width: 50px;
    }
    #vision img{
        width: 70px !important;
    }
    #row1 h2{
      margin-bottom: 10px !important;
       
    }

    #colsobre{
        width: 100%;
    }
    #colsobre img{
        max-width: 320px !important;
        height: 320px !important;
        margin: 20px;
       
    }

}

#row1 div {
    justify-content: center;
    justify-items: center;
    color: #fff;
    margin-top: 30px;
    height: 180px;
    width: 20%;
    background-color: #123C73;
    border-radius: 12px;
    text-align: center;
}

#row1 h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
}

#row1 img {
    margin: 0 auto;

}

#row2 {
    margin-top: 180px;
    margin-bottom: 80px;

}

#row2 h2 {

    font-weight: bold;
    text-align: center;

}




/* Sobre nos */

#rowMaster div {
    font-size: 26px;

}

#rowMaster h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    /* Oque Fazemos? */

    /* identical to box height */
    color: #010D26;
}

#rowMaster img {
    margin: 0 auto;

}

#rowMaster {
    margin-top: 180px;
    margin-bottom: 80px;

}

#rowMaster p {
    position: absolute;
    width: 632px;
    height: 514px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;


}